//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include "keys_us_international.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define base        0
#define symbols     1
#define numbers     2
#define system      3
#define umlaute     4
#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32

// Right hand keys (including right thumb keys)

#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35

// All thumb keys

#define THUMBS 30 31 32 33 34 35

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hml: left_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };

        // Right-hand homerow mods

        hmr: right_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <150>;
        };
    };

    combos {
        compatible = "zmk,combos";

        caps-word {
            bindings = <&caps_word>;
            key-positions = <17 12>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";
            bindings = <
           &kp Q        &kp W        &kp E              &kp R                &kp T           &kp Y            &kp U                &kp I              &kp O            &kp P
           &hml LGUI A  &hml LALT S  &hml LEFT_SHIFT D  &hml LEFT_CONTROL F  &kp G           &kp H            &hmr LEFT_CONTROL J  &hmr LEFT_SHIFT K  &hmr LEFT_ALT L  &hmr LEFT_WIN SEMICOLON
&lt 3 TAB  &kp Z        &kp X        &kp C              &kp V                &kp B           &kp N            &kp M                &kp COMMA          &kp DOT          &kp SLASH                &kp APOSTROPHE
                                     &none              &lt 1 SPACE          &lt 3 ESCAPE    &lt 4 BACKSPACE  &lt 2 ENTER          &none
            >;
        };

        symbols {
            display-name = "symbols";
            bindings = <
               &none            &kp AT_SIGN     &kp HASH          &kp DOLLAR            &kp PERCENT     &kp CARET        &kp AMPERSAND          &kp ASTERISK       &kp BACKSLASH    &none
               &kp EXCLAMATION  &kp LEFT_BRACE  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp GRAVE       &kp MINUS        &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp EQUAL
&kp LESS_THAN  &none            &none           &none             &none                 &none           &none            &none                  &kp COMMA          &kp PERIOD       &kp SLASH  &kp GREATER_THAN
                                                &none             &lt 1 SPACE           &lt 3 ESCAPE    &lt 4 BACKSPACE  &lt 2 ENTER            &none
            >;
        };

        numbers {
            display-name = "numbers";
            bindings = <
       &kp F1                  &kp F2                  &kp F3                    &kp F4                      &kp F5             &kp F6           &kp F7                      &kp F8              &kp F9                  &kp F10
       &hml LEFT_WIN NUMBER_1  &hml LEFT_ALT NUMBER_2  &hml LEFT_SHIFT NUMBER_3  &hml LEFT_CONTROL NUMBER_4  &kp NUMBER_5       &kp NUMBER_6     &hmr LEFT_CONTROL NUMBER_7  &hmr LEFT_SHIFT N8  &hmr LEFT_ALT NUMBER_9  &hmr LEFT_WIN NUMBER_0
&none  &kp F11                 &none                   &none                     &none                       &none              &kp UNDER        &kp EQUAL                   &kp COMMA           &kp PERIOD              &kp F12                 &none
                                                       &none                     &lt 1 SPACE                 &lt 3 BACKSPACE    &lt 4 BACKSPACE  &lt 2 ENTER                 &none
            >;
        };

        system {
            display-name = "system";
            bindings = <
       &none  &kp C_VOLUME_DOWN  &kp C_MUTE        &kp C_VOLUME_UP  &none           &none           &none           &none         &none            &none
       &none  &kp C_PREVIOUS     &kp C_PLAY_PAUSE  &kp C_NEXT       &none           &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none
&none  &none  &bt BT_PRV         &bt BT_CLR        &bt BT_NXT       &none           &none           &none           &none         &none            &none  &none
                                 &none             &lt 1 SPACE      &lt 3 ESCAPE    &kp DELETE      &lt 2 ENTER     &none
            >;
        };

        umlaute {
            bindings = <
       &none            &none          &kp EN_SECTION  &kp EN_EURO  &none           &none            &kp EN_U_UMLAUT  &none           &kp EN_O_UMLAUT  &none
       &kp EN_A_UMLAUT  &kp EN_ESZETT  &kp LEFT_SHIFT  &none        &none           &none            &none            &kp LEFT_SHIFT  &none            &none
&none  &none            &none          &none           &none        &none           &none            &none            &none           &none            &none  &none
                                       &none           &lt 1 SPACE  &lt 3 ESCAPE    &lt 4 BACKSPACE  &lt 2 ENTER      &none
            >;
        };
    };
};
